Repository tunnelvisionlabs/dotnet-trees: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release

Generate NuGet package on build
  Directory.Build.props
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Avoid uploading restored packages as build artifacts
  appveyor.yml
Due: none

Add build scripts
  .gitignore
  Directory.Build.props
  build/build.ps1
  build/check-key.ps1
  build/keys.ps1
  build/opencover-report.ps1
  build/push.ps1
  build/version.ps1
  dotnet-trees.sln
Due: none

Update version numbers for release 1.0.0-alpha002
  Directory.Build.props
  build/version.ps1
Due: none

Update README.md following the first public preview release
  README.md
Due: none

Prepare for next development iteration
  Directory.Build.props
  build/version.ps1
Due: none

Fix tests for ICollection.CopyTo implementations
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeListTest.cs
  TunnelVisionLabs.Collections.Trees.Test/TestTreeList.cs
  TunnelVisionLabs.Collections.Trees/TreeList`1.cs
Due: production, test

Add test to cover additional edge case in MergeSegments
  TunnelVisionLabs.Collections.Trees.Test/TestTreeList.cs
Due: test

Rename TestTreeList to TreeListTest for consistency with other tests
  TunnelVisionLabs.Collections.Trees.Test/TreeListTest.cs
Due: test

Verbose codecov upload
  appveyor.yml
Due: none

Add TunnelVisionLabs.Collections.Trees.Experimental
  TunnelVisionLabs.Collections.Trees.Experimental/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Shipped.txt
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees.Test/TunnelVisionLabs.Collections.Trees.Test.csproj
  TunnelVisionLabs.Collections.Trees/Properties/AssemblyInfo.cs
  appveyor.yml
  dotnet-trees.sln
Due: production, test

Add a reference to System.Collections.Immutable
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Define the API for ImmutableTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for ImmutableTreeQueue<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for ImmutableTreeStack<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for ImmutableTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for ImmutableSortedTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for ImmutableSortedTreeDictionary<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Add KeyCollection and ValueCollection for more efficient operations
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for ImmutableTreeDictionary<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Add KeyCollection and ValueCollection for more efficient operations
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: none

Define the API for TreeStack<T>
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees.Experimental/TreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/TreeStack`1.cs
Due: none

Define the API for TreeQueue<T>
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees.Experimental/TreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/TreeQueue`1.cs
Due: none

Update System.Memory
  Directory.Build.props
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees/SyncRootFallback.cs
  TunnelVisionLabs.Collections.Trees/TreeList`1.cs
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Use global.json to set the SDK version
  global.json
Due: none

Update StyleCop.Analyzers to 1.1.1-beta.61
  Directory.Build.props
  TunnelVisionLabs.Collections.Trees/SortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/TreeSet`1.cs
Due: production

Install Nerdbank.GitVersioning
  Directory.Build.props
  version.json
Due: none

Organize packaging properties in Directory.Build.props
  Directory.Build.props
Due: none

Move shared properties to Directory.Build.props
  Directory.Build.props
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Only show minimal data in the code coverage comment
  codecov.yml
Due: none

Add experimental assembly to production coverage
  codecov.yml
Due: none

Ignore NU5105
  Directory.Build.props
Due: none

Remove SyncRootFallback
  TunnelVisionLabs.Collections.Trees.Test/AbstractSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeListTest.cs
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeListTest.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeSetTest.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeList`1.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/SyncRootFallback.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/TreeList`1.cs
  TunnelVisionLabs.Collections.Trees/TreeSet`1.cs
Due: production, test

Update to the latest PublicApiAnalyzer
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Shared PublicApiAnalyzer configuration
  Directory.Build.props
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Fix code coverage reporting
  .nuget/packages.config
  appveyor.yml
Due: none

Add tests for TreeQueue<T>
  TunnelVisionLabs.Collections.Trees.Experimental/TreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeQueueTest.cs
Due: test

Implement TreeQueue<T> as a wrapper for TreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/TreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/TreeQueue`1.cs
Due: none

Implement TreeStack<T> as a wrapper for TreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/TreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/TreeStack`1.cs
Due: none

Additional TreeQueue<T> tests for coverage
  TunnelVisionLabs.Collections.Trees.Test/TreeQueueTest.cs
Due: test

Path conditions:
  production: any of: TunnelVisionLabs.Collections.Trees/
  test: any of: TunnelVisionLabs.Collections.Trees.Test/
  Release: any of: nonexistent/
